/* ریسپانسیو */
@media (max-width: 600px) {
    #app {
        max-width: 100%;
        border-left: none;
        border-right: none;
        border-radius: 0;
    }
    .cyber-header {
        padding: 10px 12px;
        font-size: 14px;
    }
    .cyber-btn {
        padding: 8px 14px;
        font-size: 12px;
    }
}
@media (max-width: 400px) {
    .cyber-header span {
        font-size: 14px;
    }
    .cyber-input {
        padding: 8px 10px;
        font-size: 12px;
    }
}
